body    {
    width: 100%;
}

#header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.sidebuttons    {
    display: flex;
    justify-content: center;
    align-items: right;
    gap: 35px;
    flex-direction: column;
}

.container  {
    display: grid;
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

.bottombuttons {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    gap: 30px;
}

.content   {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 40px;
    padding-right: 105px;
}